name: prod-photoalbumservice

services:
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: ${MYSQL_ADDRESS}
    ports:
      - "${PMA_PORT}:80"
    restart: always


  nginx-proxy:
    image: fabricethutbbbaden/photoalbumservice-nginx-proxy:latest
    container_name: nginx-proxy
    depends_on:
      frontend-deployer:
        condition: service_started
    environment:
      BACKEND: ${BACKEND_ADDRESS}
      BACKEND_PORT: ${BACKEND_PORT}
      FRONTEND_HOST_URL: ${FRONTEND_HOST_URL}
      FRONTEND_HOST: ${FRONTEND_HOST}
      IMAGE_HOST_URL: ${IMAGE_HOST_URL}
      IMAGE_HOST: ${IMAGE_HOST}
    ports:
      - "80:80"
    restart: always
