name: prod-photoalbumservice

services:
  db:
    image: fabricethutbbbaden/photoalbumservice-db:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    restart: always

  backend:
    image: fabricethutbbbaden/photoalbumservice-backend:latest
    container_name: backend
    depends_on:
      db:
        condition: service_started
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ASPNETCORE_URLS: ${ASPNETCORE_URLS}
      BACKEND_PORT: ${BACKEND_PORT}

      MYSQL_HOST: db
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

      STORAGE_PROVIDER: ${STORAGE_PROVIDER}
      BUCKET_NAME: ${BUCKET_NAME}
    ports:
      - "${BACKEND_PORT}:5038"
    restart: always

volumes:
  mysqldata:
    name: prod-photoalbumservice_mysqldata