name: prod-photoalbumservice
  
services:
  db:
    image: fabricethutbbbaden/photoalbumservice-db:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    restart: always
    
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - "${PMA_PORT}:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  backend:
    image: fabricethutbbbaden/photoalbumservice-backend:latest
    container_name: backend
    environment:
      BACKEND_PORT: ${BACKEND_PORT}
      ASPNETCORE_URLS: ${ASPNETCORE_URLS}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PORT: ${MYSQL_PORT}
      STORAGE_PROVIDER: ${STORAGE_PROVIDER}
      BUCKET_NAME: ${BUCKET_NAME}
    ports:
      - "${BACKEND_PORT}:5038"
    depends_on:
    - db
    
  frontend:
    image: fabricethutbbbaden/photoalbumservice-frontend:latest
    container_name: frontend
    environment:
      - "REACT_APP_API_BASE_URL=http://backend:${BACKEND_PORT}/api"
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysqldata:
