[Unit]
Description=M346 Docker Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ec2-user/working-directory
ExecStart=/usr/local/bin/docker-compose --env-file ./.env -f docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose down
User=ec2-user

[Install]
WantedBy=multi-user.target
